{% load static %}
<footer>
    <div class="container-footer">
            <div class="icons">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'assets/img/logo.png' %}" alt="" width="75" height="75">
                </a>
                <div class="medias-socias">
                    <a href="#"> <i class="fab fa-facebook"></i> </a>
                    <a href="#"> <i class="fab fa-instagram"></i> </a>
                    <a href="#"> <i class="fab fa-twitter"></i> </a>                        
                </div>
            </div>
        </div>
</footer>