{% load static %}
<form action="{% url 'update' usuario.id %}" method="POST">
    {% csrf_token %}
    <h1>Página Edição</h1>
    <input type="text" name="nome" placeholder="Nome" value="{{usuario.nome}}">
    <input type="text" name="cpf" placeholder="CPF" value="{{usuario.cpf}}">
    <input type="text" name="email" placeholder="Email" value="{{usuario.email}}">
    <input type="password" name="senha" placeholder="Senha" value="{{usuario.senha}}">
    <button type="submit">Enviar</button>
</form>