<h1>Listar Livros</h1>
<ul>
    {% for livro in livros %}
        <li>
            <strong>Título:</strong> {{ livro.titulo }}<br>
            <strong>Autor:</strong> {{ livro.autor }}<br>
            <strong>Ano:</strong> {{ livro.ano }}<br>
            <strong>Categoria:</strong> {{ livro.categoria }}<br>
            <strong>Sinopse:</strong> {{ livro.sinopse }}<br>
            <a href="{% url 'editar_livro' livro.id %}">Editar</a>
            <a href="{% url 'excluir_livro' livro.id %}">Excluir</a>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'listar_livros' %}">Lista de Livros</a>
<a href="{% url 'criar_livro' %}">Adicionar Livros</a>
