{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>{% block title %}Adicionar Livro{% endblock %}</title>
    <!--Header-->
    {% include 'partials/header.html' %}
    <main>
        <h1>Adicionar Livro</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ livro_form.as_p }}
            <button type="submit">Adicionar Livro</button>
        </form>
    </main>
    <!--Footer-->
    {% include 'partials/footer.html' %}
{% endblock %}

