{% load static %}
<footer>
    <div class="container-footer">
        <div class="row-footer">
            <!-- footer col-->
            <div class="footer-col">
                <h4>Empresa</h4>
                <ul>
                    <li><a href=""> Nossos serviços </a></li>
                    <li><a href=""> Política de privacidade </a></li>
                    <li><a href=""> Programa de afiliados</a></li>
                </ul>
            </div>
            <!--end footer col-->
            <!-- footer col-->
            <div class="footer-col">
                <h4>Obter ajuda</h4>
                <ul>
                    <li><a href="#">Duvidas</a></li>
                    <li><a href="#">Devoluções</a></li>
                    <li><a href="#">Status de Pedido</a></li>
                    <li><a href="#">Formas de Pagamento</a></li>
                </ul>
            </div>
            <!--end footer col-->
            <!-- footer col-->
          
            <!--end footer col-->
            <!-- footer col-->
            <div class="footer-col">
                <h4>Cadastre-se!</h4>
                <div class="form-sub">
                    <form>
                        {% csrf_token %}

                        <!-- <input type="email" placeholder="Digite o seu e-mail" required>
                        <button>Cadastre-se</button> -->

                        {% for field in form.visible_fields %}
                        
                            <label for="{{field.id_for_label}}" class="visually-hidden">{{field.label}}</label>
                            {{field}}
                            <button>Cadastre-se</button>
                       
                        {% endfor %}


                    </form>
                </div>

                <div class="medias-socias">
                    <a href="#"> <i class="fab fa-facebook"></i> </a>
                    <a href="#"> <i class="fab fa-instagram"></i> </a>
                    <a href="#"> <i class="fab fa-twitter"></i> </a>                        
                </div>

            </div>
            <!--end footer col-->
        </div>
    </div>
</footer>