<h1>Página principal</h1>
<h2>Cadastrar usuario:</h2>

<form action="{% url 'create' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="nome">
    <input type="int" name="cpf">
    <input type="text" name="email">
    <input type="password" name="senha">

    <button type="submit">Enviar</button>
</form>
    {% for usuario in usuarios %}
        <li>Usuario: {{usuario.nome}} cpf: {{usuario.cpf}} email: {{usuario.email}} <a href="{% url 'edit' usuario.id %}">Editar</a><a href="{% url 'delete' usuario.id %}">Deletar</a></li>
        <h2>Listar usuarios</h2>
    {% endfor %}
    
    
   
