{% load static %}
<!DOCTYPE html>
<html lang="bt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Senai</title>

    <link rel="stylesheet" href="{% static 'assets/css/cadastrostyle.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>
  
    <!-- nav bar -->
   
    <nav class="navbar navbar-expand-lg" id="navbar">
      <div class="container">
      <a class="navbar-brand" href="index.html" id="logo"><span>B</span>iblioteca Senai</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span><i class="fa-solid fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav me-auto">
          <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#livros">Livros</a>
          </li>
        
          </ul>
          <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Buscar">
          <button class="btn btn-primary" type="button">Buscar</button>
          </form>
      </div>
      </div>
  </nav>
    
    <!-- nav bar -->
    <h1 style="text-align: center;"><span class="colorr">F</span>icção</h1>
    

    
      <!-- Conteúdo da página -->
     

      <div class="containerr">
        <aside class="sidebar">
          <h2><span style="color: blueviolet;">C</span>ategorias</h2>
          <br>
          <ul>
            <li><i class="fa fa-book" style="font-size:20px"></i><a href="Fic.html" style="background: blueviolet;
                color: white;">  Ficção</a></li>
            <br>
            
            <li ><i class="fa fa-book" style="font-size:20px"></i><a href="romance.html" >  Romance</a></li>
            <br>
            <li><i class="fa fa-book" style="font-size:20px"></i><a href="Fantasia.html" >  Fantasia</a></li>
            <br>
            <li><i class="fa fa-book" style="font-size:20px"></i><a href="infantil.html" >  Infatil</a></li>
          </ul>
        </aside>
        <main class="main-content">
          <div class="card">
            <img src="{% static 'assets/img/polpa.jfif' %}" alt="Livro 1">
            <div class="card-content">
              <h3>
                Ficção de polpa: aventura!</h3>
              <p>Autor: Arthur O. Friel</p>
              <p>Preço: R$ 25,00</p>
              <button>Adicionar ao carrinho</button>
            </div>
          </div>
    
          <div class="card">
            <img src="{% static 'assets/img/educação.webp' %}" alt="Livro 2">
            <div class="card-content">
              <h3>Educação Mito e Ficção</h3>
              <p>Autor: Brom, Luiz</p>
              <p>Preço: R$ 30,00</p>
              <br>
              <button>Adicionar ao carrinho</button>
            </div>
          </div>

          <div class="card">
            <img src="{% static 'assets/img/espirito.webp' %}" alt="Livro 2">
            <div class="card-content">
              <h3>O espírito da ficção científica

              </h3>
              <p>Autor: Roberto Bolaño</p>
              <p>Preço: R$ 30,00</p>
              <button>Adicionar ao carrinho</button>
            </div>
          </div>


          <div class="card">
            <img src="{% static 'assets/img/ditadura.webp' %}" alt="Livro 2">
            <div class="card-content">
              <h3>A Ficção Na Pós-ditadura </h3>
              <p>Autor: Milena Mulatti Magri </p>
              <p>Preço: R$ 30,00</p>
              <button>Adicionar ao carrinho</button>
            </div>
          </div>

          <div class="card">
            <img src="{% static 'assets/img/noticia.webp' %}" alt="Livro 2">
            <div class="card-content">
              <h3>A notícia como fábula Realidade e ficção se confundem na mídia</h3>
              <p>Autor: Modernell, Renato</p>
              <p>Preço: R$ 30,00</p>
              <button>Adicionar ao carrinho</button>
            </div>
          </div>

          <div class="card">
            <img src="{% static 'assets/img/luz.webp' %}" alt="Livro 2">
            <div class="card-content">
              <h3>LUZ, CâMERA, FICçãO E BIOLOGIA</h3>
              <p>Autor: Luiz Fernando Duarte</p>
              <p>Preço: R$ 30,00</p>
              <button>Adicionar ao carrinho</button>
            </div>
          </div>


          <div class="card">
            <img src="{% static 'assets/img/fic.webp' %}" alt="Livro 2">
            <div class="card-content">
              <h3>COMO ESCREVER BEM: O CLáSSICO MANUAL AMERICANO</h3>
              <p>Autor: Zinsser, William</p>
              <p>Preço: R$ 30,00</p>
              <button>Adicionar ao carrinho</button>
            </div>
          </div>

          <div class="card">
            <img src="{% static 'assets/img/mulher.webp' %}" alt="Livro 2">
            <div class="card-content">
              <h3>Mulheres e ficção</h3>
              <p>Autor: Woolf, Virginia</p>
              <p>Preço: R$ 30,00</p>
              <button>Adicionar ao carrinho</button>
            </div>
          </div>

          

        

          

        
    
          <!-- Adicione mais cards de livros aqui -->
    
        </main>
      </div>


    
    
    


   

   <!-- footer -->
   <footer>
        <div class="container-footer">
            <div class="row-footer">
                <!-- footer col-->
                <div class="footer-col">
                    <h4>Empresa</h4>
                    <ul>
                        <li><a href=""> Nossos serviços </a></li>
                        <li><a href=""> Política de privacidade </a></li>
                        <li><a href=""> Programa de afiliados</a></li>
                    </ul>
                </div>
                <!--end footer col-->
                <!-- footer col-->
                <div class="footer-col">
                    <h4>Obter ajuda</h4>
                    <ul>
                        <li><a href="#">Duvidas</a></li>
                        <li><a href="#">Devoluções</a></li>
                        <li><a href="#">Status de Pedido</a></li>
                        <li><a href="#">Formas de Pagamento</a></li>
                    </ul>
                </div>
                <!--end footer col-->
                <!-- footer col-->
              
                <!--end footer col-->
                <!-- footer col-->
                <div class="footer-col">
                    <h4>Cadastre-se!</h4>
                    <div class="form-sub">
                        <form>
                            <input type="email" placeholder="Digite o seu e-mail" required>
                            <button>Cadastre-se</button>
                        </form>
                    </div>

                    <div class="medias-socias">
                        <a href="#"> <i class="fab fa-facebook"></i> </a>
                        <a href="#"> <i class="fab fa-instagram"></i> </a>
                        <a href="#"> <i class="fab fa-twitter"></i> </a>                        
                    </div>

                </div>
                <!--end footer col-->
            </div>
        </div>
    </footer>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


  
</body>
</html>